
@{
    ViewBag.Title = "te";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<nav class="navbar navbar-expand-lg navbar-dark blue lighten-2 mb-4">

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <form class="form-inline mr-auto">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-mdb-color btn-rounded btn-sm my-0 ml-sm-2" type="submit">Search</button>
        </form>

    </div>
    <!-- Collapsible content -->
    <!-- Navbar brand -->
</nav>
<!--/.Navbar-->

